@{

    int z;
    for(z=0; z<5; z++){
<div class="container">
  <div class="row">
    <div class="col">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">@ViewData["TitInt"]</div>
        <div class="card-body">
            <h5 class="card-title">@ViewData["TitMark"]</h5>
            <p class="card-text">@ViewData["Desc"]</p>
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;" border="4">
        <div class="card-header">@ViewData["TitInt"]</div>
        <div class="card-body">
        <h5 class="card-title">@ViewData["TitMark"]</h5>
        <p class="card-text">@ViewData["Desc"]</p>
    </div>
    </div>
    </div>

    <div class="col">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">@ViewData["TitInt"]</div>
        <div class="card-body">
            <h5 class="card-title">@ViewData["TitMark"]</h5>
            <p class="card-text">@ViewData["Desc"]</p>
        </div>
        </div>
    </div>
        <div class="col">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;" border="4">
        <div class="card-header">@ViewData["TitInt"]</div>
        <div class="card-body">
        <h5 class="card-title">@ViewData["TitMark"]</h5>
        <p class="card-text">@ViewData["Desc"]</p>
    </div>
    </div>
    </div>
  </div>
</div>
}
}

<h1>Fé em Deus que agora vai!</h1>